{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ZiņuLapa</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}"/>
</head>
<body>
    <nav>
        <h1>ZiņuLapa</h1>
        <ul>
            <li><p>{{ datums }}</p></li>
            <li><p>{{ vardadienas }}</p></li>
        </ul>
    </nav>
    <div class="container">
        <div class="vietejas-zinas">
            <p>Vietējās ziņas</p>
        </div>
        <div class="delfi-apollo">
            <div class="delfi">
                <a href="https://www.delfi.lv"><h3>Delfi.lv</h3></a>
                <ul>
                    {% for item in delfi %}
                    <li><a href={{ item.1 }}>{{ item.0 }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="apollo">
                <a href="https://www.apollo.lv"><h3>Apollo.lv</h3></a>
                <ul>
                    {% for item in apollo %}
                    <li><a href={{ item.1 }}>{{ item.0 }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="left-over"></div>
        </div>
        <div class="tvnet-la">
            <div class="tvnet">
                <a href="https://www.tvnet.lv"><h3>Tvnet.lv</h3></a>
                <ul>
                    {% for item in tvnet %}
                    <li><a href={{ item.1 }}>{{ item.0 }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="la">
                <a href="https://www.la.lv"><h3>La.lv</h3></a>
                <ul>
                    {% for item in la %}
                    <li><a href={{ item.1 }}>{{ item.0 }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="arzemju-zinas">
            <p>Ārzemju ziņas</p>
        </div>
        <div class="bbc-kkas">
            <div class="bbc">
                <a href="https://www.bbc.com/"><h3>Bbc.com</h3></a>
                <ul>
                    {% for item in bbc %}
                    <li><a href={{ item.1 }}>{{ item.0 }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</body>
</html>