@font-face {
    font-family: 'Roboto-Regular';
    src: url('/static/fonts/Roboto-Regular.ttf') format("truetype");
  }

@font-face {
    font-family: 'DancingScript-Bold';
    src: url('/static/fonts/DancingScript-Bold.ttf') format("truetype");
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto-Regular';
}

body {
    color: white;
    background-color: #48515c;
}

nav {
    height: 60px;
    background: #292F36;
    text-shadow: 2px 3px 6px black;
}

nav ul {
    float: right;
    list-style-type: none;
    padding: 20px 10%;
}

nav ul li {
    display: inline-block;
    padding-left: 8px;
}

nav h1 {
    font-size: 3em;
    display: inline;
    padding: 0 10%;
}

.container {
    padding: 0 10%;
}

.container a h3 {
    padding-bottom: 8px;
    font-size: 1.6em;
    display: inline-block;
}

.delfi-apollo, .tvnet-la, .bbc-nbcnews {
    padding-bottom: 10px;
    display: flex;
}

.delfi-apollo ul li, .tvnet-la ul li, .bbc-nbcnews ul li {
    list-style-type: none;
    padding: 10px 0;
}

.delfi-apollo a, .tvnet-la a, .bbc-nbcnews a {
    text-decoration: none;
    color: black;
    font-weight: bolder;
}

.delfi, .apollo, .tvnet, .la, .bbc, .nbc {
    background-color: white;
    margin: 0 5px;
    padding: 5px;
    width: 50%;
    box-shadow: 3px 3px 3px #292F36;
}

.vietejas-zinas {
    height: 60px;
    background-color: #f37474;
    margin: 10px 5px 10px 5px;
    text-align: center;
    color: white;
}

.vietejas-zinas p {
    font-family: 'DancingScript-Bold';
    font-size: 2.5em;
    text-shadow: 2px 3px 6px #752a2a;
    padding-top: 3px;
}

.arzemju-zinas {
    height: 60px;
    background-color: #f37474;
    margin: 0 5px 10px 5px;
    text-align: center;
    color: white;
}

.arzemju-zinas p {
    font-family: 'DancingScript-Bold';
    font-size: 2.5em;
    text-shadow: 2px 3px 6px #752a2a;
    padding-top: 2px;
}