@font-face {
    font-family: 'Roboto-Regular';
    src: url('/static/fonts/Roboto-Regular.ttf') format("truetype");
  }

@font-face {
    font-family: 'DancingScript-Bold';
    src: url('/static/fonts/DancingScript-Bold.ttf') format("truetype");
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto-Regular';
}

body {
    color: white;
    background-color: #48515c;
}

nav {
    height: 60px;
    background: #292F36;
    text-shadow: 2px 3px 6px black;
    padding: 5px 0 5px 0;
}

nav ul {
    float: right;
    list-style-type: none;
    padding: 21px 10%;
}

nav ul li {
    display: inline-block;
    padding-left: 8px;
}

nav h1 {
    font-size: 3em;
    display: inline;
    padding: 0 10%;
}

.container {
    padding: 0 10%;
}

.container a h3 {
    margin-bottom: 8px;
    font-size: 1.6em;
    display: inline-block;
}

.delfi-apollo, .tvnet-la, .bbc-nbcnews, .theguardian-nytimes {
    padding-bottom: 10px;
    display: flex;
}

.delfi-apollo ul li, .tvnet-la ul li, .bbc-nbcnews ul li, .theguardian-nytimes ul li {
    list-style-type: none;
    padding: 10px 0;
}

.delfi-apollo a, .tvnet-la a, .bbc-nbcnews a, .theguardian-nytimes a {
    text-decoration: none;
    color: black;
    font-weight: bolder;
}

.delfi, .apollo, .tvnet, .la, .bbc, .nbc, .theguardian, .nytimes {
    background-color: white;
    margin: 0 5px;
    padding: 5px;
    width: 50%;
    box-shadow: 3px 3px 3px #292F36;
}

.vietejas-zinas {
    height: 60px;
    background-color: #f37474;
    margin: 9px 5px 10px 5px;
    text-align: center;
    color: white;
}

.vietejas-zinas p {
    font-family: 'DancingScript-Bold';
    font-size: 2.5em;
    text-shadow: 2px 3px 6px #752a2a;
    padding-top: 3px;
}

.arzemju-zinas {
    height: 60px;
    background-color: #f37474;
    margin: 10px 5px 10px 5px;
    text-align: center;
    color: white;
}

.arzemju-zinas p {
    font-family: 'DancingScript-Bold';
    font-size: 2.5em;
    text-shadow: 2px 3px 6px #752a2a;
    padding-top: 3px;
}

footer {
    height: 80px;
    width: 100%;
    background-color: #15181b70;
    margin-top: 20px;
    text-align: center;
    display: flex;
    justify-content: space-between; 
}

footer p, footer a p {
    opacity: 60%;
}

.footer-left {
    padding: 15px 0 0 10%;
    list-style-type: none;
}

.footer-left input {
    margin-top: 6px;
    height: 20px;
}

.footer-left button {
    border: none;
    background: #e26262;
    color: white;
    text-transform: uppercase;
    padding: 5px;
    font-weight: bold;
    text-shadow: 2px 3px 6px #752a2a;
    box-shadow: 3px 3px 3px #292F36;
}

.footer-left button:hover {
    background: #a34949;
}

.footer-left li p {
    display: inline;
}

.footer-left p {
    text-transform: uppercase;
}

.footer-mid-left {
    list-style-type: none;
    padding-top: 9px;
}

.footer-mid-left a {
    text-decoration: none;
    color: white;
}

.footer-mid-left a p {
    padding-bottom: 2px;
}

.footer-mid-right {
    list-style-type: none;
    padding-top: 9px;
}

.footer-contact {
    padding-bottom: 4px;
    font-weight: bolder;
}

.footer-email {
    padding-bottom: 3px;
}

.footer-right {
    padding: 30px 10% 0 0;
}
